$breakpoint-1:466px;
$breakpoint-2:668px;
$breakpoint-3:900px;
$background-bleu: rgb(231, 248, 252);
$couleur-texte: darken($background-bleu, 80);
$couleur-promo: rgb(128, 3, 32);
$gris: rgb(226,226,226);
$gris-transparent: rgba( $gris, .5 );

@font-face {
    font-family: "Bernina";
    src: url("../fonts/BerninaSans-Web-CondensedBold.woff2") format("woff2")
}

@font-face{
    font-family: "Gotham-Book";
    src: url("../fonts/Gotham-Book.otf") format("otf");
}

body{
    font-family:"Bernina";
    background-color:$background-bleu !important;
}

img{
    width:100%;
}

.container{
    width:100%;
}

.container-full{
    width:100%;
}

.texte-petit{
    font-size:12px;
}

header{
    .container-full{
        height:600px;
        background-image:url('.././background.jpg');
        background-position-x: center;
        background-size: cover;
        .promo{
            width:250px;
            height:100px;
            background-color:$couleur-promo;
            border-radius:5px;
            padding:10px;
            position:relative;
            left: calc(100% - 270px);
            text-align:center;
            top:100px;
            transform: rotate(20deg);
            font-size:larger;
            span{
                color:white;
            }
        }
        .slogan{
            display: flex;
            align-items: center;
            height:50px;
            background-color:$gris-transparent;
            position:relative;
            top:440px;
            .slogan-texte{
                color:white;
                margin-left:15px;
                font-size:larger;
                span{
                    display:block;
                }
            }
        }
    }
}

.container{
    .intro{
        display:flex;
        flex-wrap:wrap;
        > div{
            width:50%;
            height:100px;
        }
        .logo{
            display:flex;
        }
        .prendre-rdv{
            padding: 30px 10px;
            display:flex;
            justify-content: flex-end;
            button{
                width: 150px;
                border-radius: 5px;
                border: 1px solid black;
                background-color: $background-bleu;
                cursor:pointer;
                color: $couleur-texte;
                transition: .3s;
                &:hover{
                    background-color: $couleur-texte;
                    color: $background-bleu;
                }
            }
            
        }
    }
    .title, .description{
        color:$couleur-texte;
        text-align:center;
        margin-top:15px;
        padding:5px;
    }
    .texte-ice-experience{
        margin-left:10px;
        color:$couleur-texte;
        font-family: "Gotham-Book";
    }
    .techniques{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        .tech{
            text-align:center;
            img{
                border-radius:50%;
            }
            h5{
                font-family:"Gotham-Book";
                margin-top:10px;
            }
        }
    }
}

@media screen and (min-width:$breakpoint-2){
    .container{
        .techniques{
            .t1{
                order:2;
            }
            .t2{
                order:3;
            }
            .t3{
                order:1;
            }
            .tech img{
                width:85%;
            }
        }
    }
}

@media screen and (min-width:$breakpoint-3){
    header{
        .container-full{
            height:800px;
            .slogan{
                top: 620px;
                .slogan-texte{
                    span{
                        display:initial;
                    }
                }
            }
            .promo{
                left: calc(100% - 340px);
            }
        }
    }
    .container{
        max-width:$breakpoint-3;
        margin:0 auto;
        .intro{
            .prendre-rdv{
                padding-top:10px;
                button{
                    height: 40px;
                }
            }
        }
        .texte-ice-experience{
            float:right;
        }
        .techniques{
            clear:both;
        }
    }
}